#modalCon {
	position: fixed;
	top: 10vh;
	left: 10vw;
	right: 10vw;
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 10px grey;
	-webkit-box-shadow: 0 0 10px grey;
	padding: 40px 25px 50px;
	border-style: solid;
	border-width: 10px;
	border-color: #319211;
}

#x {
	position: absolute;
	top: 5px;
	right: 15px;
	font-weight: bold;
	font-size: 25px;
}

#x:hover {
	cursor: pointer;
}

#header {
	font-weight: bold;
	font-size: 125%;
}

#IF {
	font-weight: bold;
}
