.modal {
	position: fixed;
	z-index: 4;/*Wiki's user toolbar has z-index:3*/
	top: 10vh;
	max-width: 80vw;
	margin: auto;
	overflow: auto;
	background-color: blue;
	border-color: #319211;
	border-width: 4px;
}
